data.zip
prepare_dataset.ipynb
dataset/
notebooks/.cache
__pycache__/
*.pyc
logs/
.vscode/
.env
data/tokenized
# macOS
.DS_Store

# data & artifacts
data/
runs/
out/

# python
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/
